.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #181616;
    color: #dfdfdf;
    
}

.login-logo img {
    width: 300px;
    height: 300px;
}

.login-right{
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;
}

.login-right h1 {
    font-family: 'Varela Round';
    font-size: 50px;
}

.login-right h4 {
    font-family: 'Varela Round';
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #dfdfdf;
}

.loginInputEmail{
    display: flex;
    align-items: center;
    color: #dfdfdf;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.loginInputEmail svg{
    margin-left:10px;
    font-size: 25px;
}

.loginInputEmail input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #dfdfdf;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;

}

.loginInputPassword{
    margin:5px;
    display: flex;
    align-items: center;
    color: #dfdfdf;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.loginInputPassword input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #dfdfdf;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;

}

.loginInputPassword svg{
    margin-left:10px;
    font-size: 25px;
}

.login-right button{
    width: 98%;
    background-color: #18181b;
    color: #dfdfdf;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top:5px;
    border: none;
    outline-width: 0;
}

.login-right button:hover{
    color: #28aefc;
    background-color: #1f1e1e;
    cursor: pointer;
}

.login-eye{
    margin-right: 5px;
}
